.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.pitch {
  width: 320px;
  height: 400px;
  background-color: green;
}
.player {
  width: 20%;
  height: 20px;
  /* height: 20%; */
  background-color: red;
  margin: 20px;
}
.keeper {
  display: flex;
  justify-content: center;
  /* display: block; */
}
.defence {
  display: flex;
  justify-content: center;
  /* display: block; */
}
.midfield {
  display: flex;
  justify-content: center;
  /* display: block; */
}
.attack {
  display: flex;
  justify-content: center;
  /* display: block; */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
